.inner-container {
  gap: 1.5rem;
  background-color: rgb(44, 44, 182);
  padding: 2rem;
  border-radius: 20px;
  border: 6px solid rgb(119, 119, 208);
  text-align: center;
}

.inner-container .primaryText {
  color: aliceblue;
  font-weight: 600;
}

.inner-container .secondaryText {
  color: rgb(234, 227, 227);
}

.inner-container .button {
  background: blue;
  border: 2px solid aliceblue;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

